html, body {
	background: #222 !important;
	color: #E6C06E !important;
	font-size: 11px !important;
	font-family: Tahoma !important;
}

#wrap {
	text-align: center;
}

#header {
	font-size: 380%;
}

#container {
	display: inline-block;
	font-size: 240%;
	line-height: 50px;
	margin-top: 60px;
	width: 90%;
	color: #F9ECD1 !important;
	background: #111 !important;
}

#sentence {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#another {
	margin-top: 30px;
}

#main {
	margin-top: 60px;
}

#previous {
	text-decoration: underline;
	font-size: 90%;
	margin-top: 10px;
}

#source {
	color: #0088CC;
	font-size: 110%;
	position: fixed;
	bottom: 0;
	margin-left: 83%;
	margin-bottom: 10px;
}

#source a {
	text-decoration: underline;
}

#updated {
	font-size: 90%;
	font-style: italic;
	color: #56585E;
}
